[submodule "gvm-nvidia-driver-modules"]
	path = gvm-nvidia-driver-modules
	url = git@github.com:zyt600/gvm-nvidia-driver-modules.git
[submodule "gvm-cuda-driver"]
	path = gvm-cuda-driver
	url = git@github.com:ovg-project/gvm-cuda-driver.git
[submodule "gvm-notify"]
	path = gvm-notify
	url = git@github.com:zyt600/gvm-notify.git